html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.Container {
  width: 350px;
  height: 400px;
  position: relative;
  margin: 10px auto;
}


.Solutions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.SolutionItem {
  padding: 8px 16px;
  border-radius: 8px;
  margin: 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background: #f0f0f0;
  color: #333;
  cursor: pointer;
}

.SolutionItem:hover {
  background: #ddd;
}

.SolutionItem.selected {
  background: #07f;
  color: #fff;
}
